<main class="contenedor">
	<form
		action="/auth/reset-password"
		method="POST"
		class="default-form"
	>
		<div class="campo">
			<label for="email">E-Mail</label>
			<input type="email" id="email" name="email" placeholder="Email" />
		</div>
		
		<div class="actions">
			<a href="/auth/login">Login instead</a>
		</div>
		
		<div class="campo">
			<input type="submit" value="Login" class="btn btn-azul" />
		</div>
	</form>
</main>
