<main class="lista-vacantes">
	<h2>Navigation</h2>
	<div class="botones separador">
		<a href="/user/profile/edit" class="btn btn-azul">Edit profile</a>
		<a href="/job/create" class="btn btn-verde">Create a job</a>
	</div>
</main>
