<div class="contenido-superior vacante contenedor">
	<div class="caja">
		<p class="empresa">Company</p>
		<p class="nombre">{{{job.company}}}</p>
	</div>
	<div class="caja">
		<p class="etiqueta">Location</p>
		<p class="nombre">{{job.location}}</p>
	</div>
</div>
